/**
 * Description: Short description.
 * Version: 0.0.1
 * Last update: 2015/07/18
 * Author: bkroggel <mail@bastiankroggel.com>
 *
 * Summary:
 *
 *  0. GLOBAL
 *    - 0.1. BODY
 *    - 0.2. FONTS
 *  1. HEADER
 *    - 1.1. BIG PICTURE
 *    - 1.2. TYPE ELEMENT
 *  
 */

/* ==========================================================================
   0. GLOBAL
   ========================================================================== */

/* 0.1. BODY
   ========================================================================== */
body {
  margin: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row {
  padding: 0;
  margin: 0;
}

/* 0.2 FONTS
   ========================================================================== */

.nav>li>a {
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  font-family: 'Karla';
  font-weight: 400;
  letter-spacing: 2px;
  padding: 3px 6px;
  border: 2px solid white;
}

.nav>li>a:hover,
.nav>li>a:active,
.nav>li>a:visited,
.nav>li:active,
.nav .open>a, 
.nav .open>a:focus,
.nav .open>a:hover {
  background-color: rgba(255, 255, 255, 0.0);
}

.nav>li>a:hover,
.nav .open>a, 
.nav .open>a:focus,
.nav .open>a:hover {
  border-color: black;
  padding: 3px 6px;
  line-height: 20px;
  -webkit-transition: border-color 0.4s;
  -moz-transition: border-color 0.4s;
  transition: border-color 0.4s;
}

.big-picture h1 {
  font-family: 'Karla';
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  color: white;
  display: table;
  margin: 0;
}

.section-header h3,
.blog h3 {
  font-family: 'Karla';
  text-transform: uppercase;
  color: rgba(109, 109, 109, 0.8);
  font-size: 14px;
  margin: 40px 0 10px;
}

.blog>.section-header,
.work>.section-header {
  padding-left: 50px;
}

.blog h3 {
  margin: 20px 0 0;
}

.about h1,
.about-italic h1 {
  font-family: 'CormorantMedium';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  margin: 0;
}

.about-italic h1 {
  font-family: 'CormorantBoldItalic';
  font-weight: normal;
  font-style: italic;
}

.text p,
.blog p {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 0.01em;
}

.blog p {
  margin-bottom: 40px;
}

.blog h1 {
  font-family: 'CormorantMedium';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  margin-bottom: 40px;
}

/* 0.3 BUTTONS
   ========================================================================== */
.btn-standart {
  color: black;
  font-family: 'Karla';
  font-weight: 400;
  text-transform: uppercase;
  background-color: white;
  border-radius: 0;
  border: 2px solid black;
  padding: 3px 6px;
  font-size: 14px;
}

.btn-standart:hover,
.btn-standart:active,
.btn:focus {
  background-color: black;
  color: white;
  border-color: black;
  outline:0 !important;
}

/* ==========================================================================
   1. HEADER
   ========================================================================== */

/* 1.1. BIG PICTURE
   ========================================================================== */
.big-picture {
  /*background: rgb(49, 54, 50);*/
  background: url(../img/pexels.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  padding: 0;
  height: 700px;
  overflow: hidden;
  display: table;
  margin-bottom: 15px;
}

.big-picture .vertical-fit {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 30px;
}

.big-picture svg {
  fill: white;
  overflow: visible;
  width: 700px;
  height: auto;
  padding-bottom: 15px;
}

.header-frame {
  border: 3px solid white;
  padding: 15px;
  display: table;
}

nav {
  bottom: 0;
  height: 60px;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  display: table;
}

.nav-frame {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 0;
}

nav svg {
  width: 40px;
  height: auto;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav ul {
  width: 100%;
}

.nav>li {
  width: 20%;
}

.nav>li>a {
  display: inline-block;
}

.navbar-nav>li>a {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 7px; 
}

/* 1.2 ABOUT
   ========================================================================== */
.about {
 padding: 0 50px 100px;
}

.about .cols:nth-child(odd) {
  padding-left: 0;
}

.about .cols:nth-child(even) {
  padding-right: 0;
}

/* 1.3. BLOG
   ========================================================================== */
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

.vertical-col-divider:nth-child(2n+0) {
  border-left: 1px solid rgb(218, 218, 218);
}

.blog-col {
  text-align: center;
  margin: 30px 0;
}

.col-inner {
  margin: 0 15px;
  padding: 100px 13% 100px;
  border-top: 1px solid rgb(218, 218, 218);
  margin-top: -30px;
}

.row .blog-col:nth-child(1) .col-inner,
.row .blog-col:nth-child(2) .col-inner {
  border: none;
}

.btn-blog {
  margin-top: 60px;
}